h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

div {
    max-width: 5%;
    color: fuchsia;
    border: groove cyan;
}

#div.Nested1 {
    max-width: 100%;
    color: black;

    text-align: left;
    border: outset silver;

}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#div.testClass {
    position: absolute;
    width: 100%;
    border: double mediumvioletred;
}