
div {
    width: 100%;
}

#div.Nested1 {
    width: auto;
    color: black;
    text-align: left;
    border: outset silver;
}

.centerText {
    text-align: center;
}

.testClass {
    position: absolute;
    width: 10%;
    height: 5%;
    left: 0px;
    top: 0px;
    border: double mediumvioletred;
}
.header{
    postion: fixed;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    border: double black;
    text-align: center;
    font-size: xx-large;
}

#navigation {
    postion: fixed;
    width: 18%;
    min-width:10em;
    height: 50%;
    border: solid black;
    padding: 1%;
    margin: 1%;
    left: 5px;
    top: 5px;
    font-weight: normal;
    font-size: 75%;
    background-color: aqua;

}
#navigation h1 {


}

#navigation h2 {

    width: 95%;
    height: 10%;
    border: none;
    padding: 3%;
    font-weight: normal;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2.5em;
    border: double black;
}

#address {
    font-style: normal;
}

#contact  {
    font-style: normal;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
